@page "/keyboard"
@using Re_Chord.Pages.Components

<PageTitle>Keyboard</PageTitle>

<div class="container">
    <div class="keyboard">
        <!--  White Keys  -->
        <div class="white-key-row">
            <Key KeyType="white key" KeyId="48" />
            <Key KeyType="white key" KeyId="50" />
            <Key KeyType="white key" KeyId="52" />
            <Key KeyType="white key" KeyId="53" />
            <Key KeyType="white key" KeyId="55" />
            <Key KeyType="white key" KeyId="57" />
            <Key KeyType="white key" KeyId="59" />
            <Key KeyType="white key" KeyId="60" />
            <Key KeyType="white key" KeyId="62" />
            <Key KeyType="white key" KeyId="64" />
            <Key KeyType="white key" KeyId="65" />
            <Key KeyType="white key" KeyId="67" />
            <Key KeyType="white key" KeyId="69" />
            <Key KeyType="white key" KeyId="71" />
            <Key KeyType="white key" KeyId="72" />
            <Key KeyType="white key" KeyId="74" />
            <Key KeyType="white key" KeyId="76" />
            <Key KeyType="white key" KeyId="77" />
            <Key KeyType="white key" KeyId="79" />
            <Key KeyType="white key" KeyId="81" />
            <Key KeyType="white key" KeyId="83" />
            <Key KeyType="white key" KeyId="84" />
        </div>

        <!--  Black Keys  -->
        <div class="black-key-row">
            <Key KeyType="black key" KeyId="49" />
            <Key KeyType="black key" KeyId="51" />
            <Key KeyType="spacer" />
            <Key KeyType="black key" KeyId="54" />
            <Key KeyType="black key" KeyId="56" />
            <Key KeyType="black key" KeyId="58" />
            <Key KeyType="spacer" />
            <Key KeyType="black key" KeyId="61" />
            <Key KeyType="black key" KeyId="63" />
            <Key KeyType="spacer" />
            <Key KeyType="black key" KeyId="66" />
            <Key KeyType="black key" KeyId="68" />
            <Key KeyType="black key" KeyId="70" />
            <Key KeyType="spacer" />
            <Key KeyType="black key" KeyId="73" />
            <Key KeyType="black key" KeyId="75" />
            <Key KeyType="spacer" />
            <Key KeyType="black key" KeyId="78" />
            <Key KeyType="black key" KeyId="80" />
            <Key KeyType="black key" KeyId="82" />
            <Key KeyType="spacer" />
        </div>
    </div>
</div>
