.black-key-row {
    position: absolute;
    z-index: 2;
    margin-left: 1rem;
    height: 15rem;
    /* top: 20rem; */
}
.white-key-row {
    position: absolute;
    height: 15rem;
    /* top: 20rem; */
}

.keyboard {
    margin-left: 7.5rem;
    margin-right: auto;
}

.center {
    text-align: center;
}