<p>keyboard works!</p>

<div class="container">
    <div class="keyboard">
        <!--  White Keys  -->
        <div class="white-key-row">
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
            <app-key keyType="white key"></app-key>
        </div>
    
        <!--  Black Keys  -->
        <div class="black-key-row">
            <app-key keyType="black key"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="spacer"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="spacer"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="spacer"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="spacer"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="spacer"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="black key"></app-key>
            <app-key keyType="spacer"></app-key>
        </div>
    </div>
</div>


