<p class="center">| | |</p>

<div class="container">
    <div class="keyboard">
        <!--  White Keys  -->
        <div class="white-key-row">
            <app-key keyType="white key" keyId="48"></app-key>
            <app-key keyType="white key" keyId="50"></app-key>
            <app-key keyType="white key" keyId="52"></app-key>
            <app-key keyType="white key" keyId="53"></app-key>
            <app-key keyType="white key" keyId="55"></app-key>
            <app-key keyType="white key" keyId="57"></app-key>
            <app-key keyType="white key" keyId="59"></app-key>
            <app-key keyType="white key" keyId="60"></app-key>
            <app-key keyType="white key" keyId="62"></app-key>
            <app-key keyType="white key" keyId="64"></app-key>
            <app-key keyType="white key" keyId="65"></app-key>
            <app-key keyType="white key" keyId="67"></app-key>
            <app-key keyType="white key" keyId="69"></app-key>
            <app-key keyType="white key" keyId="71"></app-key>
            <app-key keyType="white key" keyId="72"></app-key>
            <app-key keyType="white key" keyId="74"></app-key>
            <app-key keyType="white key" keyId="76"></app-key>
            <app-key keyType="white key" keyId="77"></app-key>
            <app-key keyType="white key" keyId="79"></app-key>
            <app-key keyType="white key" keyId="81"></app-key>
            <app-key keyType="white key" keyId="83"></app-key>
            <app-key keyType="white key" keyId="84"></app-key>
        </div>

        <!--  Black Keys  -->
        <div class="black-key-row">
            <app-key keyType="black key" keyId="49"></app-key>
            <app-key keyType="black key" keyId="51"></app-key>
            <app-key keyType="spacer"></app-key>
            <app-key keyType="black key" keyId="54"></app-key>
            <app-key keyType="black key" keyId="56"></app-key>
            <app-key keyType="black key" keyId="58"></app-key>
            <app-key keyType="spacer"></app-key>
            <app-key keyType="black key" keyId="61"></app-key>
            <app-key keyType="black key" keyId="63"></app-key>
            <app-key keyType="spacer"></app-key>
            <app-key keyType="black key" keyId="66"></app-key>
            <app-key keyType="black key" keyId="68"></app-key>
            <app-key keyType="black key" keyId="70"></app-key>
            <app-key keyType="spacer"></app-key>
            <app-key keyType="black key" keyId="73"></app-key>
            <app-key keyType="black key" keyId="75"></app-key>
            <app-key keyType="spacer"></app-key>
            <app-key keyType="black key" keyId="78"></app-key>
            <app-key keyType="black key" keyId="80"></app-key>
            <app-key keyType="black key" keyId="82"></app-key>
            <app-key keyType="spacer"></app-key>
        </div>
    </div>
</div>

